.main-photo {
    margin: 0;
}

.main-photo img {
    width: 100%;
    height: 32rem;
    position: relative;
}

.main-photo h1, .main-photo h3, .main-photo a {
    position: absolute;
    font-size: 60px;
    top: 11rem;
    left: 3rem;
}

.main-photo h1 {
    min-width: 540px;
}

.main-photo h3 {
    font-size: 30px;
    top: 20rem;
    color: #38a2b8;
    background-color: black;
}

.main-photo a {
    font-size: 18px;
    top: 24rem;
    color: black;
}

.top-ratings-title {
    margin: 30px;
}

.top-ratings {
    display: flex;
    margin: 20px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.top-ratings-places {
    flex: 0.23;
    height: 300px;
}

.top-ratings-places a {
    font-size: 20px;
}