.main-photo {
    margin: 10px 20px;
}

.main-photo img {
    width: 100%;
    min-width: 590px;
    max-width: 1200px;
    height: 30rem;
    position: relative;
}

.main-photo h1, .main-photo h3, .main-photo button {
    position: absolute;
    font-size: 60px;
    top: 11rem;
    left: 3rem;
}

.main-photo h1 {
    min-width: 540px;
}

.main-photo h3 {
    font-size: 30px;
    top: 20rem;
    color: #38a2b8;
    background-color: black;
}

.main-photo button {
    font-size: 18px;
    top: 24rem;
    color: black;
}