* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {
    font-family: 'NanumSquareRound';
    user-select: none;
    height: 100%;
}

.wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 180px;
}

.nav-item {
    font-size: 20px;
}

.container {
    margin: 30px auto;
}

.bg-4 {
    background-color: lightgray;
    color: black;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
}

.made-by {
    font-size: 17px;
}