.card {
    margin: 40px auto 30px;
    min-width: 495px;
    max-width: 495px;
}

.card-header {
    background-color: #38a2b87d;
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
}
