.place-card {
    min-width: 688px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #38a2b847;
}

.place-infos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.place-body {
    min-height: 400px;
}

.place-content p img {
    max-width: 660px;
}